* {margin:0; padding:0; }
ul li {list-style:none;}
.clearfix:after{content:'';display:block; clear:both;}
header {	
	margin-top:20px;
	background-color: white;
	height:100px; 
	overflow:hidden;
	z-index: 1;
	cursor: pointer;
}

nav {
	max-width:100%;
	margin-left:400px;
	overflow: hidden;
	height : 100%;
	min-width: 100%;

}

nav > ul > li {
	float:left;
	line-height:50px;
	margin-right:40px;
	position: relative;
}

nav > ul > li ul{ width:100%; position: absolute;}
nav > ul > li ul li{white-space:nowrap;}
nav > ul > li ul li:first-child{
	margin-top: 50px;

}
.depth {
	margin-right: 100px;

}

.wrapper{
	position: relative;
}
.dth1{
	font-size: 30px;
	font-weight: 400;
}
.util{
	position: absolute;
	top: 20px;
	right : 200px;
}
.lang{
	display:inline-block;
	width:80px;
	padding-top:2px;
	color:#fff;
	font-size:13px;
	font-weight:600;
	line-height:34px;
	text-align:center;
	background:#264a36;
	border-radius:48px;

}
.recruit{
	display:inline-block;
	width:80px;
	padding-top:2px;
	color:#fff;
	font-size:13px;
	font-weight:600;
	line-height:34px;
	text-align:center;
	background:#d87e00;
	border-radius:48px
}
.renter{
	display:inline-block;
	width:80px;
	padding-top:2px;
	color:#fff;
	font-size:13px;
	font-weight:600;
	line-height:34px;
	text-align:center;
	border-radius:48px;
	background:#db0007;
}
.slide_box{
	position: absolute;
	top:150px;
	width: 1920px;
	height: 540px;
	background-color: wheat;
	z-index: -1;
	overflow: hidden;
}
.slide_item{
	background-color: #d87e00;
	text-align: center;
	width: 1920px;
	height: 540px;

}
.slide_list{
	width: 9600px;
	display: flex;
	height : 540px;
}
.prevBtn{
	position: absolute;
	top:50%;
	right: 0;
}
.nextBtn{
	position: absolute;
	top:50%;
	left: 0;
}
.moreList{
	display: inline-block;
	margin-top: 30px;
}
.inner{
    display: none;
}
.moreContainer{
	position: absolute;
	top:690px;
	margin: 0 auto;
	margin-top: 10px;
	margin-left: 400px;
}
.McLive{
	margin-bottom: 20px;
}
.str{
	background-color: rgba(247, 233, 233, 0.87);
	border-radius: 10px;
	margin-top: 5px;
}
.moreBtn{
	width:100px;
	height: 100px;
	padding-top:2px;
	color:#fff;
	font-size:50px;
	font-weight:600;
	color : gray;
	line-height:34px;
	text-align:center;
	border-radius:80px;
	background:yellow;
	position: absolute;
	left:50%;
	margin-top: 20px;
}